@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&family=Noto+Kufi+Arabic&family=Noto+Sans+Hebrew&family=Noto+Sans+JP&family=Roboto&family=Poppins");

:root {
  --font-family: "Figtree", "Roboto", "Noto Sans Hebrew", "Noto Kufi Arabic",
    "Noto Sans JP", sans-serif;
  --layout-border-color: #d0d4e4;
  --text-color-on-primary: #fff;
  --primary-color: #0073e3;
  --primary-hover-color: #0060b9;
  --color-link-color: #1f76c2;
  --color-mud-black: #323338;
  --disabled-text-color: rgb(50, 51, 56, 0.38);
  --disabled-background-color: #ecedf5;
  --ui-border-color: #c3c6d4;
  --primary-text-color: #323338;
  --primary-background-hover-color: #dcdfec;
  --primary-image-bg-color: #6161ff;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xxxl: 64px;
}

.ant-radio-wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline-end: 0px;
}

.loading-screen-wrapper {
  @apply absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4;
}
