@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Figtree", sans-serif;
}

svg {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.style_a {
  @apply text-blue-500 hover:underline;
}

.signup_title {
  flex: 0.5 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.signup_action {
  flex: 1 1 0%;
  width: 100%;
}

.register_input,
.surevey_radio,
.content_field {
  flex: 8 1 0%;
  @apply space-y-8;
}

.radio_style .ant-radio-wrapper {
  @apply px-4 py-2 border border-gray-300 rounded-3xl my-2;
  color: #676879;
}

.ant-select-dropdown {
  width: max-content !important;
}

.custom_select p {
  font-weight: 400;
}

.content_field .ant-space-compact {
  margin-top: 10px !important;
}
