@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Figtree');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&family=Noto+Kufi+Arabic&family=Noto+Sans+Hebrew&family=Noto+Sans+JP&family=Roboto');

:root {
  --font-family: 'Figtree', 'Roboto', 'Noto Sans Hebrew', 'Noto Kufi Arabic',
    'Noto Sans JP', sans-serif;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --layout-border-color: #d0d4e4;
}
